.container {
  width: 1000px;
  height: 800px;
}

.game-container {
  margin: auto;
  width: 500px;
  height: 500px; 
  background-color: #BBADA0;
  border-radius: 15px;
}

.grid-container {
  margin: auto;
  width: 470px;
  height: 470px;
  background-color: rgba(238,228,218,0.35);
}

.grid-row > div {
  display: inline-block;
  padding: 2.1px;
  height: 106.25px;
  width: 106.25px;
  border: 2px solid black;
}

/*.grid-cell {
  display: inline-block;
  padding: 2.1px;
  height: 106.25px;
  width: 106.25px;
  border: 2px solid black;
}
*/
.grid-row {
  display: inline;
  width: 470px;
  height: 106.25px;
}

.value-2 {
  background-color: yellow;
}
.value-4 {
  background-color: pink;
}
.value-8 {
  background-color: red;
}
.value-16 {
  background-color: yellow;
}
.value-32 {
  background-color: yellow;
}
.value-64 {
  background-color: yellow;
}
.value-128 {
  background-color: yellow;
}
.value-256 {
  background-color: yellow;
}
.value-512 {
  background-color: yellow;
}
.value-1024 {
  background-color: yellow;
}
.value-2048 {
  background-color: yellow;
}