{% extends "base.html" %}

{% block title %}
Ex01 : Processus d’affichage d’une page statique.
{% endblock %}

{% block content %}


<h3>Обзор</h3>
<p>
Теперь, когда мы определили наши модели и создали несколько записей в них, пришло время написать код, который будет показывать данную информацию пользователям. И первое, что нам необходимо сделать это определиться какую информацию мы бы хотели показывать на наших страницах,  а затем определить соответствующие URL-адреса для получения соответствующих ресурсов. Затем нам надо создать url-преобразования, отображения (функции, или классы), а затем шаблоны страницы. </p>
<p>
Диаграмма, представленная ниже,  демонстрирует главный поток данных и элементов, которые нужно реализовать для управления HTTP запросами и ответами. Поскольку мы уже создали модель, то нам остается создать следующее:
<ul>
	<li>URL-преобразования для перехода по соответствующему URL-адресу (с учетом информации, передаваемой в данном адресе) к соответствующей функции отображения.</li>

	<li>Функции отображения для запроса соответствующих данных из моделей, создание страниц HTML для показа этих данных и их отправку в клиент пользователя (в браузер).</li>

	<li>Шаблоны, которые используются отображениями для рендеринга (отрисовки) данных.</li>
</ul>

</p>
<img src="https://mdn.mozillademos.org/files/13931/basic-django.png" alt="" width="700" height="600">
{% endblock %}