<!DOCTYPE html>
<html>
<head>
	<title>{title}</title>
</head>
<body>
	<center>
		<table>
			<caption>Curriculum Vitae</caption>
			<tr>
				<th align="right">Name:</th>
				<td>{name}</td>
			</tr>
			<tr>
				<th align="right">Second name:</th>
				<td>{surname}</td>
			</tr>
			<tr>
				<th align="right">Age:</th>
				<td>{age}</td>
			</tr>
			<tr>
				<th align="right">Profession:</th>
				<td>{profession}</td>
			</tr>
		</table>
	</center>

</body>
</html>