<%= link_to "Home", "/pages/home" %> | <%= link_to "Sig_in", "/pages/register" %>
<form class="form-login" accept-charset="UTF-8" action="login" method="post">
	<div class="form-group">
		<label>Username</label>
		<input type="text" name="username" class="form-control" placeholder="Username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password">
	</div>
	<% if @error != nil %>
		<div style="color:red;">
			<%= @error %>
		</div>
	<% end %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<button type="submit" class="btn btn-primary">Login</button>
</form>
